<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUAZBnZp1gKDikqt7C9aLWKbZG5qTA0N0</string>
	<key>GCM_SENDER_ID</key>
	<string>577596496037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.masjed</string>
	<key>PROJECT_ID</key>
	<string>halakate-1c474</string>
	<key>STORAGE_BUCKET</key>
	<string>halakate-1c474.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577596496037:ios:88e6e916a65a16edba954c</string>
</dict>
</plist>